body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

audio {
    width: 100%;
}

svg {
    padding-top: 4px;
    width: 32px;
    height: 32px;
}

.gridItem {
    text-align: center;
    cursor: pointer;
	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.gridItem::selection {
    background: none;
}

.gridItem a {
    display: contents;
}

#audioPlayer {
    margin: 0 auto;
    width: 100%;
}

#customControls {
    display: none;
    grid-template-rows: 40px;
    grid-template-columns: 1fr 1fr 2fr 1fr;

    font-family: sans-serif;
	text-shadow: 1px 1px 0 #000;

    border-radius: 5px;
    background: #333;
	background: linear-gradient( #444, #222 );
}

#pause {
    display: none;
}

#songTitleContainer {
    cursor: default;
}

#songTitle {
    color: white;
    font-size: 1em;
    line-height: 40px;
}
